Cover-Art/.build/
Cover-Art/*.aux
Cover-Art/*.log
Cover-Art/*-cover-1.png
Cover-Art/_fonttest.*
Cover-Art/_svgtest.*
Bulletins/*.aux
Bulletins/*.log
*.pdf
!Cover-Art/assets/front-cover-empty-no-leaf.pdf
output/
tmp/
*.aux
*.log
*.out
*.toc
